# Environment variables
.env

# Optional: ignore other env variants too
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# VS Code
.vscode/

# macOS / Windows junk
.DS_Store
Thumbs.db
